@import "./reset.scss";
@import "./typography.scss";
@import "./mixins.scss";
@import "./variables.scss";

body {
  background: $background;
}

.content {
  margin: 0 auto;
  width: 1200px;
  background: white;

  @include media-content {
    width: 100%;
  }
}

.header {
  color: white;
  background: linear-gradient(360deg, $gradient 0%, $gradient 100%);
  position: relative;
}

.header__content {
  height: 173px;
  display: flex;
  padding-top: 49px;
  padding-left: 47px;
  padding-right: 67px;
  width: 100%;
  position: relative;

  @include media-content {
    padding-left: 31px;
    justify-content: space-between;
  }

  @include media-tablet {
    padding-left: 0px;
    padding-right: 0px;
  }

  @include media-mobile {
    height: auto;

    &__hidden-h-letter,
    &__hidden-menu,
    &__hidden-h-logo,
    &__hidden-f-pic {
      visibility: visible;
    }
  }

  &__hidden-h-letter {
    visibility: hidden;
    position: absolute;
    left: 64px;
    top: 15px;
  }

  &__hidden-h-logo {
    visibility: hidden;
    position: absolute;
    left: 54px;
    top: 7px;
  }

  &__hidden-f-pic {
    visibility: hidden;
    position: absolute;
    right: 59px;
    top: 16px;
  }

  &__hidden-menu {
    visibility: hidden;
    position: absolute;
    left: 16px;
    top: 16px;

    @include media-tablet {
      visibility: visible;
    }
  }

  &__img {
    width: 370px;
    height: 80px;

    @include media-tablet {
      margin: 0 auto;
    }

    @include media-mobile {
      display: none;
    }
  }

  &__text {
    margin-top: -6px;
    font-family: "ptsansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-left: 57px;
    width: 658px;
    height: 87px;

    @include media-content {
      margin-left: 16px;
    }

    @include media-pre-tablet {
      margin-top: -14px;
    }

    @include media-tablet {
      display: none;
    }
  }

  &__button {
    position: absolute;
    top: 9px;
    right: 19px;

    @include media-mobile {
      top: 15px;
    }

    .header__button,
    .header__button:focus {
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 10px;
      width: 40px;
      height: 13px;
      color: white;
      border: none;
      background: none;
      outline: none;
    }
  }
}

.header-menu {
  background-color: white;
  height: 48px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  &__container {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    right: 47px;

    @include media-tablet {
      .header-menu__search {
        display: none;
      }

      .header-menu__navigation {
        margin: 0;
        width: 100%;
      }
    }

    .header-menu__navigation,
    .header-menu__search {
      display: flex;
      align-items: center;
      margin-left: 47px;

      @include media-tablet {
        .header-menu__icon {
          display: none;
        }
      }

      .header-menu__nav {
        margin-left: 28px;

        @include media-tablet {
          width: 100%;
          margin-left: 19px;
          margin-right: 19px;
        }

        .header-menu__list {
          display: flex;
          align-items: center;

          @include media-mobile {
            .header-menu__item:last-child {
              display: none;
            }

            .header-menu__item {
              padding: 0px;
            }

            .header-menu__item:not(:first-child) {
              margin-left: 0px;
            }
          }

          @include media-tablet {
            justify-content: space-between;

            .header-menu__item:last-child {
              visibility: visible;
            }
          }

          @include media-desktop-hover {
            .header-menu__item:hover {
              border-radius: 2px;
              background: $orange;
              a {
                color: white;
              }
            }
          }

          .header-menu__item {
            padding: 4px 14px;
          }

          .header-menu__item:not(:first-child) {
            margin-left: 25px;

            .header-menu__link {
              font-family: "brutal";
              width: 64px;
              height: 17px;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              letter-spacing: -0.02em;
            }
          }

          .header-menu__item:last-child {
            visibility: hidden;
          }
        }
      }

      .search__img {
        margin-right: 13px;
      }

      .header-menu__link {
        color: black;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.main-content {
  background-color: white;
  padding-top: 30px;
  margin: 0 auto;
  width: 1060px;

  @include media-pre-tablet {
    padding: 30px 10px 0;
    width: 100%;
  }

  @include media-tablet {
    padding: 30px 0px 0px;
    width: 100%;
  }

  @include media-mobile {
    padding-top: 20px;
  }

  &__title {
    margin-top: 9px;
    width: 631px;
    font-family: "ptsansCaptionRegular";
    font-style: normal;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: 28px;

    @include media-mobile {
      width: auto;
      height: 21px;
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.02em;
      margin-left: 11px;
    }

    @include media-tablet {
      margin-left: 15px;
    }
  }

  &__articles {
    display: flex;
    margin-top: 30px;

    @include media-mobile {
      margin-top: 25px;

      .articles__main-news {
        .main-news__text {
          margin-right: 15px;
        }
      }
    }

    @include media-pre-tablet {
      .articles__main-news {
        width: 73%;
      }
    }

    @include media-tablet {
      .articles__main-news {
        width: 100%;

        .main-news__text {
          margin-left: 15px;
        }

        .featured-news {
          margin-left: 15px;
        }
      }
    }
  }
}

.main-news__text {
  margin-top: 30px;
  font-family: "ptsans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: black;
}

.article-card {
  position: relative;
  height: 492px;

  .article__inside {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;

    @include media-tablet {
      padding: 72px 20px 15px 20px;
    }

    @include media-mobile {
      padding: 114px 15px 26px 15px;
    }

    .hidden {
      position: absolute;
      transition: 0.15s;
      opacity: 0%;
    }

    .hidden__upleft {
      left: 8px;
      top: 8px;
    }

    .hidden__upright {
      right: 8px;
      top: 8px;
    }

    .hidden__leftdown {
      left: 8px;
      bottom: 8px;
    }

    .hidden__rightdown {
      right: 8px;
      bottom: 8px;
    }

    .indide__button {
      cursor: pointer;
      color: white;
      width: 118px;
      height: 24px;
      background-color: $orange;
      border-radius: 2px;
      font-family: "brutal";
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    .inside__text-title {
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
      font-family: "brutal";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: white;

      @include media-mobile {
        margin-top: 30px;
        font-size: 20px;
      }
    }

    .inside__text-description {
      width: 100%;
      height: 73px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: white;
    }

    .inside__side-items {
      .inside__side-items__text {
        b {
          width: 294px;
          height: 23px;
          font-family: "ptsans";
          font-style: normal;
          font-size: 15px;
          line-height: 24px;
          color: white;
        }
        color: white;
        font-style: normal;
        font-weight: normal;
        font-family: "ptsans";
        font-size: 10px;
      }

      .inside__side-items__info {
        width: 169px;
        height: 17px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "ptsansCaptionRegular";
        font-size: 10px;
        line-height: 16px;

        img {
          font-size: 12px;
        }
      }
    }
  }

  @include media-desktop-hover {
    &:hover {
      .article__inside .hidden {
        opacity: 100%;
      }
    }
  }

  &_large {
    width: 789px;
    background-image: url("../images/Article1.png");

    @include media-pre-tablet {
      width: auto;
    }

    @include media-tablet {
      width: 100%;
      height: 386px;
      background-size: 100%;
    }

    @include media-mobile {
      background-size: cover;
      background-position: center;
    }

    .article__inside {
      padding: 150px 20px 30px 20px;

      .inside__text-title {
        width: 558px;

        @include media-mobile {
          width: auto;
        }
      }

      .inside__text-description {
        @include media-tablet {
          display: none;
        }

        @include media-mobile {
          visibility: hidden;
        }
      }
      .inside__side-items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-tablet {
          margin-top: 98px;
          display: block;
        }

        @include media-mobile {
          display: block;
          margin-top: 55px;
        }

        .inside__side-items__text {
          @include media-tablet {
            margin-bottom: 8px;
          }
        }

        .inside__side-items__info {
          @include media-mobile {
            margin-top: 11px;
          }
        }
      }
    }
  }

  &_medium {
    width: 517px;
    transition: 0.5s;
    background-image: url("../images/Article2.png");

    @include media-pre-tablet {
      width: 63%;
    }

    @include media-pre-tablet-2 {
      width: 50%;
    }

    @include media-tablet {
      background: url("../images/2Article.png");
      width: 100%;
      height: 386px;
      background-size: cover;
      background-position: top;
    }

    .article__inside {
      padding: 85px 67px 30px 20px;
      width: 100%;

      @include media-tablet {
        .inside__text-description {
          display: none;
        }
      }

      .inside__text-title {
        height: 83px;
      }

      .inside__text-description {
        width: 430px;
        height: 100px;

        @include media-pre-tablet-2 {
          visibility: hidden;
        }

        @include media-tablet {
          display: none;
        }
      }

      .inside__side-items {
        @include media-tablet {
          margin-top: 95px;
        }

        @include media-mobile {
          margin-top: 55px;
        }

        .inside__side-items__info {
          margin-top: 11px;
        }
      }
    }
  }

  &_small {
    width: 247px;
    transition: 0.5s;
    height: 492px;
    margin-left: 25px;
    background: border-box url("../images/Article3.png") no-repeat;
    background-size: 100% 100%;

    @include media-tablet {
      background: url("../images/3Article.png");
      background-size: 100%;
      width: 100%;
      height: 386px;
      margin-left: 0px;
      margin-top: 25px;
    }

    @include media-pre-tablet-2 {
      width: 50%;
    }
    .article__inside {
      padding: 85px 67px 30px 20px;
      width: 100%;

      @include media-mobile {
        background: url(../images/3Article.png);
        background-size: cover;
        background-position: center;
      }

      @include media-tablet {
        .inside__text-description {
          display: none;
        }
      }

      .inside__text-title {
        width: 217px;
        height: 220px;

        @include media-tablet {
          height: 100px;
          width: 100%;
        }
      }

      .inside__side-items {
        @include media-mobile {
          margin-top: 40px;
        }

        .inside__side-items__info {
          margin-top: 11px;
        }
      }
    }
  }
}

.main-news__side-items {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    display: block;
  }
}

.featured-news__menu {
  justify-content: space-between;
  display: flex;
  margin-top: 30px;

  .featured-news__nav {
    width: 490px;
    .featured-news__list {
      display: flex;
      justify-content: space-between;

      @include media-mobile {
        margin-right: 15px;
        .featured-news__item:nth-child(2) {
          text-transform: capitalize;
          span {
            display: none;
          }
        }

        .featured-news__item:last-child {
          span:first-child {
            display: none;
          }
        }

        .featured-news__item:last-child {
          .featured-news__link span:last-child {
            text-transform: capitalize;
          }
        }
      }

      .featured-news__link {
        font-family: "ptsans";
        font-weight: bolder;
        color: black;
        cursor: pointer;
        text-decoration: none;
        font-size: 17px;
        letter-spacing: -0.02em;
      }

      .featured-news__item:first-child {
        border-bottom: 3px solid $orange;
        padding-bottom: 5px;
      }
    }
  }

  .menu__arrows {
    @include media-tablet {
      display: none;
    }

    img:first-child {
      margin-right: 20px;
    }
  }
}

.featured-news__side-articles {
  overflow: hidden;

  .side-articles__items {
    display: flex;
    margin-top: 29px;
    width: max-content;

    .items__item:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.items__item {
  width: 250px;
  height: 177px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  white-space: initial;
  position: relative;

  @include media-desktop-hover {
    &:hover {
      cursor: pointer;
      .hidden {
        opacity: 100%;
      }
    }
  }

  .hidden {
    position: absolute;
    transition: 0.15s;
    opacity: 0%;
  }

  .hidden__upleft {
    left: 8px;
    top: 8px;
  }

  .hidden__upright {
    right: 8px;
    top: 8px;
  }

  .hidden__leftdown {
    left: 8px;
    bottom: 8px;
  }

  .hidden__rightdown {
    right: 8px;
    bottom: 8px;
  }

  .item__text {
    padding: 14px 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    font-family: "brutal";
    text-transform: capitalize;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
  }

  .inside__side-items__info {
    font-weight: normal;
    margin-top: 63px;
    width: 169px;
    height: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "ptsansCaptionRegular";
    font-size: 10px;
    line-height: 16px;

    img {
      font-size: 12px;
    }
  }
}

.one {
  background: url(../images/SideArticle1.png) no-repeat;
}

.two {
  background: url(../images/SideArticle2.png) no-repeat;
}

.three {
  background: url(../images/SideArticle3.png) no-repeat;
}

.series {
  margin-bottom: 30px;
  margin-top: 30px;

  @include media-tablet {
    overflow: hidden;
  }

  @include media-mobile {
    margin-top: 0px;
  }

  .series__items {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    @include media-tablet {
      min-width: max-content;
    }
  }
}

.series__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    margin-left: 15px;
  }

  @include media-mobile {
    display: none;
  }

  .title {
    padding-top: 10px;
    height: 39px;
    font-family: "ptsansCaptionRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: black;
  }

  .substracts {
    @include media-tablet {
      display: none;
    }

    img:first-child {
      margin-right: 20px;
    }
  }
}

.series__item {
  width: 380px;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 17px;

  &:last-child {
    display: none;
  }

  @include media-mobile {
    margin-left: 15px;
    margin-bottom: 20px;
    height: 413px;
    width: 288px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-pre-tablet {
    width: 350px;
  }

  @include media-tablet {
    width: 325px;
    margin-bottom: 42px;

    &:first-child {
      margin-left: 15px;
    }
    &:last-child {
      display: block;
    }
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  .inside__header {
    display: none;

    @include media-tablet {
      & {
        .header__link {
          height: auto;
          width: auto;
        }
      }
    }
    @include media-mobile {
      display: flex;
    }
  }

  .item__title {
    width: 250px;
    height: 46px;
    font-family: "brutal";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $light-black;

    @include media-mobile {
      margin-top: 17px;
    }
  }

  .item__button {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 9px;
    margin-bottom: 11px;
    width: 197px;
    height: 32px;
    background-color: $orange;
    border-radius: 2px;
    font-family: "brutal";
    font-weight: 500;
    text-align: center;

    @include media-desktop-hover {
      &:hover {
        background: $dark-orange;
      }
    }

    @include media-tablet {
      width: 100%;
    }

    @include media-mobile {
      margin-top: 14px;
    }

    button {
      cursor: pointer;
      margin-top: 7px;
      color: white;
    }
  }
}

.articles__news-bar {
  margin-left: 20px;

  @include media-tablet {
    display: none;
  }
}

.news-bar__item {
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;

  @include media-desktop-hover {
    .inside__header {
      .header__link:hover {
        text-decoration: underline;
      }
    }
  }

  &:not(:first-child) {
    margin-top: 20px;
  }

  &_large {
    width: 251px;

    .inside__title {
      margin-top: 17px;
      height: 46px;
      font-family: "brutal";
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: $light-black;
    }
    .inside__button {
      margin-top: 13px;
      background: $orange;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;

      @include media-desktop-hover {
        &:hover {
          background: $dark-orange;
          cursor: pointer;
        }
      }
    }
  }

  &_medium {
    width: 251px;

    .inside__content {
      margin-top: 17px;
      background-image: url(../images/HTMLandCSSPicture.png);
      height: 238px;
      position: relative;

      @include media-desktop-hover {
        &:hover {
          cursor: pointer;
          .hidden {
            opacity: 100%;
          }
        }
      }

      .hidden {
        position: absolute;
        transition: 0.15s;
        opacity: 0%;
      }

      .hidden__upleft {
        left: 8px;
        top: 8px;
      }

      .hidden__upright {
        right: 8px;
        top: 8px;
      }

      .hidden__leftdown {
        left: 8px;
        bottom: 8px;
      }

      .hidden__rightdown {
        right: 8px;
        bottom: 8px;
      }

      .content__wrapper {
        padding: 64px 20px 20px;

        .content__title {
          width: 177px;
          font-family: "brutal";
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: -0.02em;
          color: white;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);
        }

        .inside__side-items__info {
          margin-top: 63px;
          width: 169px;
          height: 17px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: "ptsansCaptionRegular";
          font-size: 10px;
          line-height: 16px;

          img {
            font-size: 12px;
          }
        }
      }
    }

    .inside__button {
      margin-top: 21px;
      background: $orange;
      border-radius: 2px;
      text-align: center;
      display: flex;
      align-items: center;

      @include media-desktop-hover {
        &:hover {
          background: $dark-orange;
        }
      }
    }
  }

  &_small-one {
    width: 251px;

    .inside__content {
      background-image: url(../images/HtmlIcon.png);
      margin-top: 24px;
      height: 146px;
      position: relative;

      @include media-desktop-hover {
        &:hover {
          cursor: pointer;
          .hidden__upleft,
          .hidden__upright,
          .hidden__leftdown,
          .hidden__rightdown {
            opacity: 100%;
          }
        }
      }

      .hidden {
        position: absolute;
        transition: 0.15s;
        opacity: 0%;
      }

      .hidden__upleft {
        left: 8px;
        top: 8px;
      }

      .hidden__upright {
        right: 8px;
        top: 8px;
      }

      .hidden__leftdown {
        left: 8px;
        bottom: 8px;
      }

      .hidden__rightdown {
        right: 8px;
        bottom: 8px;
      }

      .content__play {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .inside__sub-title {
      margin-top: 18px;
      width: 214px;
      height: 22px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      color: $light-black;
    }
  }

  &_small-two {
    width: 251px;

    .inside__date {
      margin-top: 20px;
      width: 214px;
      height: 17.7px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 21px;
      color: $light-black;
    }

    .inside__time {
      margin-top: 8px;
      width: 47px;
      height: 25px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: $time-color;
    }

    .inside__text {
      margin-top: 6px;
      width: 213px;
      height: 81px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      color: $light-black;

      @include media-desktop-hover {
        &:hover {
          color: $orange;
          cursor: pointer;
        }
      }
    }
  }
}

.button-orange {
  font-family: "brutal";
  font-size: 14px;
  letter-spacing: 0.02em;
  color: white;
  padding: 8px 0px;
  width: 100%;
  cursor: pointer;
}

.inside__header {
  display: flex;
  justify-content: space-between;

  .header__tag {
    width: 92px;
    height: 24px;
    background: $light-black;
    border-radius: 2px;

    .tag__text {
      padding-top: 3px;
      width: 91.37px;
      font-family: "brutal";
      font-size: 14px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: white;
    }
  }

  .header__link {
    color: $blue-link;
    text-decoration: none;
    font-family: "ptsans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
  }
}

.timeline {
  position: relative;

  .content__wrapper::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 17px;
    height: 9px;
    background: linear-gradient(
        180.15deg,
        rgba(255, 255, 255, 0) 0.23%,
        white 126.37%
      ),
      linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, white 126.37%);
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  .content__wrapper::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 9px;
    height: 52px;
    background: linear-gradient(
      180.86deg,
      rgba(255, 255, 255, 0) 0.23%,
      white 74.8%
    );
  }
  .content__wrapper {
    border-left: 1px solid $gray;

    ul {
      padding: 10px 0px 10px 15px;
      font-family: "ptsans";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;

      @include media-desktop-hover {
        li:hover {
          color: $orange;
          cursor: pointer;
        }

        li:hover::before {
          background-color: $orange;
          cursor: pointer;
        }
      }

      li {
        position: relative;
      }

      li::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -20px;
        width: 10px;
        height: 10px;
        background-color: $gray;
        border-radius: 5px;
      }

      @include media-mobile {
        li:last-child {
          display: none;
        }

        li:nth-child(4) {
          display: none;
        }
      }
    }
  }

  &_news-bar {
    margin-top: 17px;
    .content__wrapper {
      ul {
        li:not(:first-child) {
          margin-top: 23px;
        }
      }
    }
  }

  &_series-item {
    margin-top: 15px;

    .content__wrapper {
      ul {
        li:not(:first-child) {
          margin-top: 22px;

          @include media-mobile {
            margin-top: 16px;
          }
        }
      }
    }
  }
}