body {
  font-family: sans-serif;
  font-size: 28px;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ptsans;
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans;
  src: url("../fonts/PTSans.ttf");
  font-weight: 700;
}