html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

b,
strong {
  font-weight: bolder;
}

body {
  font-family: sans-serif;
  margin: 0;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ptsansRegular;
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsansCaptionRegular;
  src: url("../fonts/PTSansCaption-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans;
  src: url("../fonts/PTSans.ttf");
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;

  .content {
    .header {
      color: white;
      background: linear-gradient(360deg, #223036 0%, #223036 100%);
      position: relative;

      .header__title {
        height: 173px;
        display: flex;

        .header__wrapper {
          margin-top: 46px;
          display: flex;

          .header__img {
            width: 370px;
            height: 80px;
            margin-left: 47px;
          }

          .header__text {
            margin-top: -6px;
            font-family: "ptsansCaptionRegular";
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            margin-left: 57px;
            width: 658px;
            height: 87px;
          }
        }
        .header__scripts {
          position: absolute;
          right: 19px;

          .header__button,
          .header__button:focus {
            font-family: "ptsans";
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 10px;
            width: 40px;
            height: 13px;
            color: white;
            margin-top: 12px;
            border: none;
            background: none;
            outline: none;
          }
        }
      }
      .header__menu {
        background-color: white;
        height: 48px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

        .header__row {
          justify-content: space-between;
          display: flex;
          width: 100%;
          padding-top: 17px;
          right: 47px;

          .row__column {
            display: flex;
            margin-left: 47px;

            .column__nav {
              margin-left: 42px;
              .nav__ul {
                display: flex;
                .nav__li:not(:first-child) {
                  margin-left: 49px;

                  .nav__item {
                    font-family: "brutal";
                    width: 64px;
                    height: 17px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    letter-spacing: -0.02em;
                  }
                }
              }
            }

            .column__img {
              margin-right: 17px;
            }

            .nav__item {
              color: black;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }
      }
    }

    .main-content {
      background-color: white;
      
      .main-content__wrapper {
        padding: 30px 70px 0;

        .main-content__title {
          width: 631px;
          height: 39px;
          left: 429px;
          top: 252px;
          font-family: "ptsansCaptionRegular";
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
        }

        .main-content__articles {
          margin-top: 30px;
        }
      }
    }
  }
}
