@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalRegular.woff");
  font-weight: 400;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalMedium.woff");
  font-weight: 500;
}

@font-face {
  font-family: brutal;
  src: url("../fonts/BrutalBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ptsansRegular;
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsansCaptionRegular;
  src: url("../fonts/PTSansCaption-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsans;
  src: url("../fonts/PTSans.ttf");
  font-weight: 400;
}

@font-face {
  font-family: ptsansBold;
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: 700;
}
